@model Restaurant.WebApplication.Models.ReservationTableFormViewModel
@{
    ViewBag.Title = "Index";
}

@if (Model.Reservations != null)
{
    if (Model.Reservations.Count == 0)
    {
        <div class="table-container">
            <div class="form-title">
                <span>Brak rezerwacji</span>
            </div>
        </div>
    }
    else
    {
        <div class="table-container">
            <div class="form-title">
                <span>Twoje rezerwacje stolików</span>
            </div>

            <table class="table table-condensed" style="margin:20px;">
                <thead>
                    <tr>
                        <th class="col-sm-2">Nr stolika</th>
                        <th class="col-sm-2">Ilość miejsc</th>
                        <th class="col-sm-2">Początek rezerwacji</th>
                        <th class="col-sm-2">Koniec rezerwacji</th>
                        <th class="col-sm-2"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td class="col-sm-2">@reservation.DiningTable.Id</td>
                            <td class="col-sm-2">@reservation.DiningTable.AvailableChairs</td>
                            <td class="col-sm-2">@reservation.StartDate</td>
                            <td class="col-sm-2">@reservation.EndDate</td>

                            <td class="col-sm-2">
                                @using (Html.BeginForm("CancelReservation", "Reservations", new { reservationId = reservation.Id, startDate = reservation.StartDate, endDate = reservation.EndDate }))
                                {
                                    <input class="btn btn-primary" type="submit" value="Anuluj" onclick="return confirm('Jesteś pewny czy chcesz anulować rezerwację stolika dla @reservation.DiningTable.AvailableChairs osób?');" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}


@section Scripts {   

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">toastr.success("@TempData["Message"]");</script>
    }
    @if (TempData["error"] != null)
    {
        <script type="text/javascript">toastr.error("@TempData["error"]");</script>
    }
}

