@model IEnumerable<Restaurant.Domain.DTO.OrderDTO>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td></td>
        </tr>

        <tr>
            <th style="padding-left: 20px;">
                @Html.Name("Nazwa")
            </th>
            <th>
                @Html.Name("Ilość")
            </th>
            <th></th>
        </tr>
        foreach (var orderItem in item.OrderItems)
        {
            <tr style="border: none;">
                <td style="padding-left: 20px;">
                    @Html.DisplayFor(modelItem => orderItem.Menu.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderItem.Quantity)
                </td>
                <td>
                    @using (Html.BeginForm("Remove", "Order", new { orderItemId = orderItem.Id }, FormMethod.Post, new { }))
                    {
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    }
                </td>
            </tr>
        }
    }
</table>

