@model Restaurant.WebApplication.Models.DiningTableFormViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "BookTable", FormMethod.Post, new { @id = "basicExample", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedNumberOfChairs, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedNumberOfChairs, Model.ChairsOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedNumberOfChairs, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "date start form-control", @placeholder = "Website Address" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "time start form-control", @placeholder = "Website Address" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "time end form-control" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
@if (Model.AvailableTables != null)
{
    if (Model.AvailableTables.Count == 0)
    {
        <text>no available tables</text>
    }
    else
    {
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-6">id</th>
                    <th class="col-md-6">ilosc miejsc</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var table in Model.AvailableTables)
                {
                    <tr>
                        <td class="col-md-6">@table.Id</td>
                        <td class="col-md-6">@table.AvailableChairs</td>
                        <td class="col-md-6">@Html.ActionLink("Rezerwuj", "ReserveTable",  new { id = table.Id, startDate = table.StartDate, endDate = table.EndDate })</td>
                    </tr>
                }
            </tbody>
        </table>

    }
}


@section Scripts {
    <script type="text/javascript">
        $('#basicExample .time').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });

        $('#basicExample .date').datepicker({
            'format': 'yyyy-MM-dd',
            'autoclose': true
        });
        // initialize datepair
        var basicExampleEl = document.getElementById('basicExample');
        var datepair = new Datepair(basicExampleEl);
    </script>

}  