@model Restaurant.WebApplication.Models.DiningTableFormViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "BookTable", FormMethod.Post, new { @id = "basicExample", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-container">
    <div class="form-title">
        <span>Znajdź stolik</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedNumberOfChairs, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedNumberOfChairs, Model.ChairsOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedNumberOfChairs, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "date start form-control", @placeholder = "Website Address" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "time start form-control", @placeholder = "Website Address" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "time end form-control" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Znajdź wolne stoliki" class="btn btn-default" />
        </div>
    </div>
</div>

}

@if (Model.AvailableTables != null)
{
    if (Model.AvailableTables.Count == 0)
    {
        <div class="table-container">
            <div class="form-title">
                <span>Brak wolnych stolików w tym terminie</span>
            </div>
        </div>
    }
    else
    {
        <div class="table-container">
            <div class="form-title">
                <span>Wybierz swój stolik</span>
            </div>

            @foreach (var table in Model.AvailableTables)
            {
                <div class="table-reservation-container">
                    <div class="table-reservation">
                        <span class="table-description">
                            Nr stolika:
                        </span>
                        <span class="table-number">
                            @table.Number
                        </span>
                    </div>

                    <div class="table-reservation">
                        <span class="table-description">
                            Ilość miejsc:
                        </span>
                        <span class="table-number">
                            @table.AvailableChairs
                        </span>
                    </div>
                    <div>
                        @using (Html.BeginForm("ReserveTable", "BookTable", new { tableId = table.Id, startDate = table.StartDate, endDate = table.EndDate }))
                        {
                            <input class="btn btn-default" type="submit" value="Rezerwuj" 
                                   onclick="return confirm('Jesteś pewny czy chcesz zarezerwować stolik dla @table.AvailableChairs osób?');" />
                        }
                    </div>
                </div>
            }
        </div>
    }
}


@section Scripts {
    <script type="text/javascript">
        $('#basicExample .time').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });

        $('#basicExample .date').datepicker({
            'format': 'yyyy-MM-dd',
            'autoclose': true
        });
        // initialize datepair
        var basicExampleEl = document.getElementById('basicExample');
        var datepair = new Datepair(basicExampleEl);
    </script>    
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">toastr.success("@TempData["Message"]");</script>
    }
    @if (TempData["error"] != null)
    {
        <script type="text/javascript">toastr.error("@TempData["error"]");</script>
    }
}

